
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
  padding: 3%;

  
}

.title-aside{
  font-size: 1.5rem;
  color: var(--color4);
  padding: 10px 0;
  text-align: center;
}
.text-aside{
  font-size: 1.3rem;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.a-container-contact {
  display: flex;
  justify-content: center;
}

.a-box-contact {
  margin-left: 10px;
}

.img-aside{
  width: 60px; 
}

.a-box-contact:hover,.a-box-contact:focus {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

@media screen and (min-width:768px){
  .title-aside{
    font-size: 1.3rem;
  }
}

@media screen and (min-width:1024px){

  .text-aside{
   width: 50%;
  }

  .img-aside{
    width: 50px;  
  }

}
 
 
