.footer {
  background-color: var(--color2);
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color3);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-footer .title-footer{
  color: var(--color4);
  font-size: 1.4rem;
  padding: 10px 0;
}

.box-footer .txt-footer{
  color: var(--color3);
  text-align: center;
  margin: 10px 5px 15px; 
}

.box-footer .img-footer {
  width: 12px;
}

.box-footer-icons .box-footer-img {
  width: 40px;
  margin: 5px 5px 10px; 
}

@media screen and (min-width:768px){
  .box-footer{
    width: 40%;
  }
  .box-footer  .txt-footer{
    margin: 5px; 
  }
}




