header {
  background-color: var(--color2);
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo a {
  display: none;
}

.navigation ul li a {
  display: none;
}

#burguer {
  color: var(--color3);
}

.box-header {
  display: none;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
  }

  .logo a {
    color: var(--color3);
    font-variant: small-caps;
    display: block;
    font-size: 1.5rem;
  }

  #burguer {
    display: none;
  }

  .navigation ul {
    display: flex;
    gap: 10px;
  }

  .navigation ul li a {
    color: var(--color3);
    display: block;
  }

  .navigation ul li a:hover {
    color: var(--color1);
  }

  .box-header {
    visibility: visible;
    display: flex;
    gap: 15px;

  }

  .box-header-img {
    width: 30px;
    border-radius: 20px;
  }

  .box-header-img:hover,.box-footer-img:hover {
    opacity: 0.5;
    transition: 0.9s;
  }
}
