header{
  visibility: hidden; /*fazer responsivo*/
}

@media(min-width:1024px){

  .header{
    visibility: visible; /*remover*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color2);
    padding: 5px;
  }

  #burguer{
    display: none;
  }

  .navigation ul{
    visibility: visible;
    display: flex;
    gap: 20px;
  }
  .navigation ul li a{
    color: var(--color3);
  }
 
  .navigation ul li a:hover{
    font-weight: bold;
    color: var(--color1);
    
  }

  .box-header{
    display: flex;
    gap: 25px;
  }

 .icon-header{
  width: 30px;
  visibility: visible;
 }

}