@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  text-decoration: none;
  list-style-type: none;
}

html,body {
  background-color: var(--colorLightGray); 
}

:root {
  --colorBlue: #78CFE3; /*button*/
  --colorDarkGrey: #343434;/*header and footer*/
  --colorLightGray: #e5e5e5;/*backgrond*/
  --colorPink: #D9556D;/*title*/
  --colorBlack: #0D0D0D;/*text*/
  --font:'Montserrat', sans-serif;
}