
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  text-decoration: none;
  list-style-type: none;
}

a{
  color: var(--color5);
}

html,body {
  background-color: var(--color3); 
}

:root {
  --color1: #78CFE3; /*button*/
  --color2: #343434;/*header and footer*/
  --color3: #e5e5e5;/*backgrond*/
  --color4: #D9556D;/*title*/
  --color5: #0D0D0D;/*text*/

  --font:'Montserrat', sans-serif;
  --font1: 'Pacifico', cursive;
}