@charset "UTF-8";

@import url(/css/reset.css);
@import url(/css/navigation.css);
@import url(/css/footer.css);
@import url(/css/aside.css);
@import url(/css/skills.css);
@import url(aboutme.css);
@import url(/css/button.css);
@import url(/css/projects.css);

/*SECTION HOME PAGE*/

.section-homepape{
  padding: 3%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;
  background-image: url(../assets/img/tiny_grid.png);
  
}

.name-homepage{
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 10px 0;
}

.txt-homepage{
  font-size: 1.4rem;
  padding: 5px 0;
  color: var(--color4);
  font-weight: bold;
}

.text-homepage{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: lighter; 
  padding: 5px 0;
}

.img-homepage{
  max-width: 60%;
}

.s-box-button-homepage{
  margin-top: 20px;
}

.display_center{
  display: flex;
  justify-content: center;
}

@media (min-width:768px){
 
  .img-homepage{
    max-width: 30%;
  }
  .display_center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .s-homepage-container{
    width: 60%;
  }

}

@media (min-width:1024px){
  .section-homepape{
    padding: 10%;

    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100vh;
  }

  .s-homepage-container{
    width: 40%;
  }

  .s-homepage-picture{
    width: 50%;
  }

  .img-homepage{
    max-width: 100%;
  }
 
 
}