.content__box--img{
  width: 30px;
}

@media (min-width:1024px){
  .box__picture{
    height: 50vh;
    padding: 200px;
    background: url("/assets/img/woman_work.png") no-repeat center/contain;
  }
}