.content__box--img{
  width: 20px;
}

@media (min-width:1024px){
  .content__box--img{
    width: 35px;
  }
  .box__picture{
    height: 50vh;
    padding: 200px;
    background: url("/assets/img/woman_work.png") no-repeat center/contain;
  }
}