.navigation__item{
  text-align: center;
  display: none;
}

/* Hide the links inside the navigation menu*/
.navigation__link{
  color: var(--colorLightGray);
  font-size: 1.2rem;
  display: none;
}

@media (min-width: 1024px){
  .header__link{
    color: var(--colorLightGray);
    font-size: 1.3rem;
    cursor: pointer;
    display: block;
  }

  .navigation__item{
    display: block;
  }

  .navigation__menu{
    display: flex;
    gap: 10px;
  }
  
  .navigation__link{
    display: block; 
    transition: all 0.5s ease-in-out;
  }

  .navigation__link:hover{
    color: var(--colorPink);
  }

}