
.header {
  background-color: var(--colorDarkGrey); 
  width: 100%;
}

@media (min-width: 1024px) {
  .header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}