
.header {
  background-color: var(--colorDarkGrey);
  padding: 5px;
  position: fixed;
  width: 100%;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}