.header__link{
  display: none;
}

.navigation__link{
  display: none;
}

@media (min-width: 1024px){
  .header__link{
    color: var(--colorLightGray);
    font-size: 1.3rem;
    cursor: pointer;
    display: block;
  }

  .navigation__menu{
    display: flex;
    gap: 10px;
  }
  
  .navigation__link{
    color: var(--colorLightGray);
    display: block; 
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
  }

  .navigation__link:hover{
    color: var(--colorPink);
  }

}