.section__aboutme {
  padding: 16px;
  text-align: center;
}

@media(min-width:1204px){
  .section__aboutme {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .container{ 
    padding: 0 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
