.title__aboutme{
  color: var(--colorPink);
  font-size: 1.8rem;
  padding: 20px 0;
}

.text__aboutme{
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

@media(min-width:1204px){
  .aboutme__box_text{
    margin-right: 5rem;
  }
  .text__aboutme{
    text-align: justify;
    text-indent: 2rem; 
  }
}


