.title__projects {
  color: var(--colorPink);
  font-size: 1.8rem;
  padding: 15px 0px;
  margin-bottom: 20px;
  font-family: var(--fontAlternates);
}

.box__title{
  color: var(--color4);
  font-size: 1.3rem;
  margin-bottom: 15px;
  font-family: var(--fontAlternates);
}

.txt__box{
  font-size: 1rem;
  line-height: 1.4rem;
  line-height: 1.5;
}
.color{
  color: var(--colorLightBlue);
  font-weight: bolder;
}


