.social__img{
  width: 40px;   
  transition: all 0.5s ease-in-out;
}

.social__box{
  display: flex; 
  gap: 20px;
}

.homepage__picture{
  padding: 80px;
  background: url("/assets/img/work_home.png") no-repeat center/contain;
}

@media (min-width:1024px){
  .social__img:hover{
    opacity: 0.5;
  }

  .homepage__picture{
    height: 50vh;
    padding: 200px;
  }
}






