.name__homepage{
  font-size: 3rem;
  letter-spacing: 3px;
  padding: 8px 0;
}

.txt__homepage{
  font-size: 1.4rem;
  padding: 2px 0;
  color: var(--colorPink);
  font-weight: bold;
}

.text__homepage{
  font-size: 1rem;
  line-height: 1.5;
  font-weight: lighter; 
  padding: 5px 0;
  margin-bottom: 5px;
}
