.section__homepape{
  padding: 0 5px 0;
  text-align: center;
  min-height: 80vh;

  display: flex;
  flex-direction: column-reverse; 
  align-items: center; 
}

@media (min-width:768px){
  .section__homepape{
    padding: 0 40px;
    text-align: left;

    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    align-content: center;

  }
}

@media (min-width:1024px){
  .section__homepape{
    padding: 0 150px;
    min-height: 100vh;
  }
}