.social__img{
  width: 40px;   
  transition: all 0.5s ease-in-out;
}

.social__box{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.homepage__picture{
  width: 100%;
  height: 140px;
  background: url("/assets/img/work_home.png") no-repeat center/contain;
}

@media (min-width:768px){
  .social__box{ 
    justify-content: start;
  }

  .homepage__picture{
    width: 50%;
    height: 250px;
    background-position: right;
  }
}

@media (min-width:1024px){
  .social__img:hover{
    opacity: 0.5;
  }
  
  .homepage__picture{
    height: 350px;
  }
}






